{% extends "base.html" %}

{% block title %}{{ title }} | Ipifier {% endblock %}

{% block content %}
<h1><a href="{% url add %}">Add</a> -> <a href="">Entry</a></h1>
<p>Add an Entry</p>
<form method="POST" action"">
{% csrf_token %}
<table>
        <tr>   
                <th>IP</th>
		<th>MAC ADDRESS</th>
		<th>COMMENT</th>
        </tr>
        <tr>   
		<td>{{ form.ip }}</td>
		<td>{{ form.mac }}</td>
		<td>{{ form.comment }}</td>
        </tr>
	<tr>
		<td>{{ form.ip.errors }}</td>
		<td>{{ form.mac.errors }}</td>
		<td>{{ form.comment.errors }}</td>
	</tr>
</table>
<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />

{% endblock content %}
