{% extends "base.html" %}

{% block title %}{{ title }} | Ipifier {% endblock %}

{% block content %}
<h1><a href="{% url add %}">Add</a> -> <a href="">Entry</a></h1>
<p>WARNING! The IP and/or the MAC is already in the system</p>
<p> Are you sure you want to save? Click submit if yes</p>
<form method="POST" action"">
{% csrf_token %}
<table>
        <tr>   
                <th>NAME</th>
                <th>DOMAIN</th>
		<th>TYPE</th>
		<th>CONTENT</th>
		<th>PRIORITY</th>
		<th>TTL</th>
		<th>COMMENT</th>
		<th>MAC ADDRESS</th>
        </tr>
        <tr>   
                <td>{{ form.name }}</td>
                <td>{{ form.domain }}</td>
		<td>{{ form.type  }}</td>
		<td>{{ form.content }}</td>
		<td>{{ form.pri }}</td>
		<td>{{ form.ttl }}</td>
		<td>{{ form.comment }}</td>
		<td>{{ form.mac }}</td>
        </tr>
	<tr>
		<td>{{ form.name.errors }}</td>
		<td>{{ form.domain.errors }}</td>
		<td>{{ form.type.errors }}</td>
		<td>{{ form.content.errors }}</td>
		<td>{{ form.pri.errors }}</td>
		<td>{{ form.ttl.errors }}</td>
		<td>{{ form.comment.errors }}</td>
		<td>{{ form.mac.errors }}</td>
	</tr>
</table>
<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />

{% endblock content %}
