{% extends "base.html" %}

{% block title %}{{ title }} | Ipifier {% endblock %}

{% block content %}
<h1><a href="{% url add %}">Add</a> -> <a href="">Entry</a></h1>
<p>Add an Entry</p>
<form method="POST" action"">
{% csrf_token %}
<table>
        <tr>   
                <th>NAME</th>
                <th>DOMAIN</th>
		<th>TYPE</th>
		<th>CONTENT</th>
		<th>TTL</th>
        </tr>
        <tr>   
                <td>{{ form.name }}</td>
                <td>{{ form.domain }}</td>
		<td>{{ form.type  }}</td>
		<td>{{ form.content }}</td>
		<td>{{ form.ttl }}</td>
        </tr>
</table>
<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />

{% endblock content %}
