{% load admin_static %}
{% load url from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "css/style.css" %}{% endblock %}" />
<script type="text/javascript" src="/static/jscript/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/jscript/jquery.datatables.js"></script>
<script type="text/javascript" src="/static/jscript/dataTables.ipaddress.js"></script>
<script type="text/javascript" src="/static/jscript/dataTables.string-ip.js"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
    $('#list-iprange').dataTable({
            "iDisplayLength": 50,
            "aoColumns": [
                null,
                { "sType": "string-ip" },
                null,
                null
            ]
    });
    $('#search-iprange').dataTable({
            "iDisplayLength": 50,            
            "aoColumns": [
                null,
                { "sType": "string-ip" },
                null,
            ]
    });
    $('#ips').dataTable({
        "iDisplayLength": 50,        
        "aoColumns": [
                { "sType": "string-ip" },
                null,
                null,
                null
        ]
    });
    $('#domains').dataTable({
        "iDisplayLength": 50
    });
    $('#records').dataTable({
        "iDisplayLength": 50,
        "aoColumns": [
                null,
                null,
                null,
                { "sType": "ip-address" },
                null,
                null,
                null,
                null
        ]
    });
    $('#domain-entries').dataTable({
        "iDisplayLength": 50,
        "aoColumns": [
                null,
                null,
                { "sType": "ip-address" },
                null,
                null,
                null,
                null
        ]
    });
    $('#tfhover').dataTable({
        "iDisplayLength": 50
    });
  
});
</script>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
	<div id="header-text"><strong>IPIFIER</strong></div>
    </div>
    <!-- END Header -->
    <div id="nav">
        <ul>
	    <li><a href="{% url 'iptracker.views.default' %}">home</a></li>
            <li><a href="{% url 'iptracker.views.search' %}">search</a>
              <ul>
                <li><a href="{% url 'search-global' %}">global</a></li>
                <li><a href="{% url 'search-iprange' %}">free ip by range</a></li>
                <li><a href="{% url 'search-ip' %}">free ip</a></li>
              </ul>
            </li>
            <li><a href="{% url 'iptracker.views.list_default' %}">list</a>
              <ul>
                <li><a href="{% url 'list-domains' %}">domain zone</a></li>
                <li><a href="{% url 'list-iprange' %}">ip range</a></li>
                <li><a href="{% url 'list-entries' %}">fqdn entry</a></li>
                <li><a href="{% url 'list-ips' %}">ip</a></li>
              </ul>
            </li>
            <li><a href="{% url 'iptracker.views.add' %}">add</a>
              <ul>
                <li><a href="{% url 'add-domain' %}">domain</a></li>
                <li><a href="{% url 'add-iprange' %}">ip range</a></li>
                <li><a href="{% url 'add-entry' %}">fqdn entry</a></li>
                <li><a href="{% url 'add-ip' %}">ip</a></li>
              </ul>
            </li>
	    <li><a href="/accounts/logout">Signout</a></li>
        </ul>
    </div>
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
      {% block content %}{% endblock content %} 
      <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer">{% block footer %}{% endblock %}</div>
</div>
<!-- END Container -->

</body>
</html>
