{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }} | Ipifier {% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{% static 'jscript/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jscript/apprise-v2.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/apprise-v2.min.css' %}" type="text/css" />

<script type="text/javascript" language="javascript">
    $(document).ready(function(){
        $("#example").dialog({modal: true});
    });
</script>
{% endblock %}

{% block content %}
<h1><a href="{% url del %}">Delete</a></h1>

Delete something
{% endblock content %}
