{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }} | Ipifier {% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{% static 'jscript/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jscript/apprise-v2.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/apprise-v2.min.css' %}" type="text/css" />

<script type="text/javascript" language="javascript">
    $(document).ready(function(){
        $("#example").dialog({modal: true});
    });
</script>
{% endblock %}

{% block content %}
<h1><a href="{% url edit %}">Edit</a> -> <a href="">Entry</a></h1>

<p>WARNING! Changing the name of a domain zone will effect all records associated with that domain zone</p>

<form method="POST" action"">
{% csrf_token %}
<table>
	<tr>
		<th>NAME</th>
		<th>TYPE</td>
		<th>COMMENT</th>
	</tr>
	<tr>
		<td>{{ form.name }}</td>
		<td>{{ form.type }}</td>
		<td>{{ form.comment }}</td>
	</tr>
</table>
<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
{% endblock content %}
