{% extends "base.html" %}

{% block title %}{{ title }} | Ipifier {% endblock %}

{% block extrahead %}
<!-- Row Highlight Javascript -->
<script type="text/javascript">
        window.onload=function(){
        var tfrow = document.getElementById('tfhover').rows.length;
        var tbRow=[];
        for (var i=1;i<tfrow;i++) {
                tbRow[i]=document.getElementById('tfhover').rows[i];
                tbRow[i].onmouseover = function(){
                  this.style.backgroundColor = '#ffffff';
                };
                tbRow[i].onmouseout = function() {
                  this.style.backgroundColor = '#d4e3e5';
                };
        }
};
</script>
{% endblock extrahead %}

{% block content %}
<h1><a href="{% url list %}">List</a> -> <a href="{% url list-iprange %}">IP Range</a></h1>
{% if all_ranges %}
	<table id="tfhover">
		<tr>
			<th>NAME</th>
			<th>STARTING IP</th>
			<th>ENDING IP</th>
		</tr>
		{% for range in all_ranges %}
		<tr>
			<td><a href="{% url list-iprange %}{{ range.id }}"> {{ range.name }}</a></td>
			<td>{{ range.start }}</td>
			<td>{{ range.end }}</td>
		</tr>
		{% endfor %}
	</table>
{% else %}
	<p>No domains</p>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if all_rangess.has_previous %}
            <a href="?page={{ all_ranges.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_ranges.number }} of {{ all_ranges.paginator.num_pages }}.
        </span>

        {% if all_ranges.has_next %}
            <a href="?page={{ all_ranges.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
