{% extends "base.html" %}

{% block title %}{{ title }} | Ipifier {% endblock %}

{% block content %}
<h1><a href="{% url list %}">List</a> -> <a href="{% url list-domains %}">Domains</a></h1>
{% if all_domains %}
	<table id="tfhover">
		<thead>
		<tr>
			<th>NAME</th>
			<th>TYPE</th>
			<th>COMMENT</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{% for domain in all_domains %}
		<tr>
			<td><a href="{% url list-domains %}{{ domain.id }}">{{ domain.name }}</a></td>
			<td>{{ domain.type  }}</td>
			<td>{{ domain.comment  }}</td>
			<td><a href="{% url edit-domain domain.id %}">EDIT</a> &nbsp; <a href="">DELETE</a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No domains</p>
{% endif %}
{% endblock content %}
