{% extends "base.html" %}

{% block title %}{{ title }} | Ipifier {% endblock %}

{% block extrahead %}
{% endblock extrahead %}

{% block content %}
<h1><a href="{% url list %}">List</a> -> <a href="{% url list-iprange %}">IP Range</a></h1>
{% if all_ranges %}
	<table id="tfhover">
		<thead>
		<tr>
			<th>NAME</th>
			<th>STARTING IP</th>
			<th>ENDING IP</th>
			<th>COMMENT</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{% for range in all_ranges %}
		<tr>
			<td><a href="{% url list-iprange %}{{ range.id }}"> {{ range.name }}</a></td>
			<td>{{ range.start }}</td>
			<td>{{ range.end }}</td>
			<td>{{ range.comment  }}</td>
			<td><a href="">EDIT</a> &nbsp; <a href="">DELETE</a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No domains</p>
{% endif %}
{% endblock content %}
